@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root{
    --rosa: #DF2892;
    --roxo: #CC39DB;
    --roxo-claro: #8B6FE0;
    --roxo-escuro: #BD93DB;
    --branco: #FFFFFF;
    --botao-inativo: rgba(152, 10, 253, 0.5);
    --botao-ativo: rgba(223, 40, 146, 1);
    
}
body{
    background-color: var(--roxo-escuro);
    color: var(--branco);
    font-family: 'Embed code', 'Sans-Serif';
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 45px;
}
.titulo-principal span{
    color: var(--verde);
}
.botao{
    font-family: 'Embed code' , 'Sans-Serif';
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
}