@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root{
    --rosa: #DF2892;
    --roxo: #CC39DB;
    --roxo-claro: #8B6FE0;
    --roxo-escuro: #BD93DB;
    --branco: #FFFFFF;
    --botao-inativo: rgba(160, 79, 219, 0.5);
    --botao-ativo: rgba(223, 40, 146, 1);
    
}
body{
    background-color: var(--roxo-escuro);
    color: var(--branco);
    font-family: 'Embed code', 'Sans-Serif';
}